<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <% if (posts.length > 0) { %>

    <h3>Articles</h3>
        <% posts.forEach(function (post) { %>

          <p>
            Name: <%= post.name %>
          </p>
          <p>
            Article: <%= post.article %>
          </p>
          <hr>
        <% }) %>
    <% } %>
   <form>
   <p>
   Name: <input type="text" name="name" placeholder="please type your name here" id="name"></p>

   <p>
   Post: <input type="text" name="article" placeholder="article a text" id="article">

   </p>

   <button id="submitBtn">Save</button>
   </form>

   <script src="/javascripts/script.js"></script>

  </body>
</html>